Hosts/Silverlight/AiciWeb/AiciWeb/Service References/AiciServiceReference/AiciService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AiciService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="PollingDuplexHttpBinding_IAiciService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <netdx:Duplex DuplexMode="MultipleMessagesPerPoll" xmlns:netdx="http://schemas.microsoft.com/2008/04/netduplex" />
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24301/AiciService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24301/AiciService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24301/AiciService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AiciWeb.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAiciService_RequestChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestChannel" />
  </wsdl:message>
  <wsdl:message name="IAiciService_RequestChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IAiciService_ReleaseChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseChannel" />
  </wsdl:message>
  <wsdl:message name="IAiciService_ReleaseChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IAiciService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IAiciService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IAiciService_Output_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Output" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IAiciService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IAiciService/RequestChannel" message="tns:IAiciService_RequestChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAiciService/RequestChannelResponse" message="tns:IAiciService_RequestChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReleaseChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IAiciService/ReleaseChannel" message="tns:IAiciService_ReleaseChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAiciService/ReleaseChannelResponse" message="tns:IAiciService_ReleaseChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAiciService/SendMessage" message="tns:IAiciService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAiciService/SendMessageResponse" message="tns:IAiciService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Output">
      <wsdl:output wsaw:Action="http://tempuri.org/IAiciService/Output" message="tns:IAiciService_Output_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PollingDuplexHttpBinding_IAiciService" type="tns:IAiciService">
    <wsp:PolicyReference URI="#PollingDuplexHttpBinding_IAiciService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestChannel">
      <soap12:operation soapAction="http://tempuri.org/IAiciService/RequestChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseChannel">
      <soap12:operation soapAction="http://tempuri.org/IAiciService/ReleaseChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IAiciService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Output">
      <soap12:operation soapAction="http://tempuri.org/IAiciService/Output" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AiciService">
    <wsdl:port name="PollingDuplexHttpBinding_IAiciService" binding="tns:PollingDuplexHttpBinding_IAiciService">
      <soap12:address location="http://localhost:24301/AiciService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:24301/AiciService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>